<!DOCTYPE html>

<head>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
  />
  <link
    href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet"
  />
</head>
<html>
  <body>
    <div class="container">
      <div class="row">
        <h2 class="col s12">Register</h2>
      </div>

      <form class="row" method="post" action="/auth/register">
        <div class="input-field row">
          <i class="material-icons prefix">account_circle</i>
          <input id="username" name="username" type="text" class="validate" />
          <label for="username">Username</label>
        </div>
        <div class="input-field row">
          <i class="material-icons prefix">password</i>
          <input
            id="password"
            name="password"
            type="password"
            class="validate"
          />
          <label for="password">Password</label>
        </div>
        <div class="input-field row">
          <select
            id="question"
            name="security_question"
            class="browser-default"
          >
            <option value="" disabled selected>Select security question</option>
            <option>What is the name of your favorite pet?</option>
            <option>What is your mother's maiden name?</option>
            <option>What high school did you attend?</option>
            <option>What is the name of your first school?</option>
            <option>What was the make of your first car?</option>
            <option>What was your favorite food as a child?</option>
            <option>Where did you meet your spouse?</option>
          </select>
        </div>
        <div class="input-field row">
          <input
            id="answer"
            name="security_answer"
            type="text"
            class="validate"
          />
          <label for="answer">Answer</label>
        </div>

        <button type="submit" class="waves-effect waves-light btn row">
          Register
        </button>
      </form>
      <a class="row" class="waves-effect waves-light btn row" href="/login">
        Log in instead
      </a>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </body>
</html>
